@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
	margin: 0px;
	padding: 10px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

.contenedor{
	display: flex;
	flex-flow: row nowrap;
}


aside{
	display: flex;
	flex-flow: column wrap;
}

.principal{
	display: flex;
	flex-flow: column nowrap;
}

body{
	background-color: white;
	font-size: 14px;
	line-height: 22px;
	color: #555555;
}

.title{
	
}

.date{
	color: #424e80;
}

.bold{
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}
.titulo_curriculum{
	text-align: center;
	font-size: 25px;
}
.semi_bold{
	font-weight: 500;
	font-size: 16px;
}

.contenedor{
	width: 1120px;
	height: auto;
	display: flex;
	margin: 50px auto;
}

.principal{
	padding: 45px;
	padding-top: 100px;
}

.principal .item{
	border-bottom: solid #ccf;
	margin-bottom: 70px;
}

.principal .item:last-child{
	border-bottom: 0px;
}

aside{
	width: 355px;
	background-color: #424e80;
	color: #fcfdff;
}

aside .item{
	
	border-bottom: 2px solid #fcfdff;
}

aside .item:last-child{
	border-bottom: 0px;
}

aside ul li{
	display: flex;
	align-items: center;
}

.habilidades ul li{
	display: flex;
	flex: auto;
	justify-content: space-between;
}

.idiomas ul li{
	display: flex;
	flex: auto;
	justify-content: space-between;
}

.ulintereses{
	height: 145px;
	display: flex;
	flex-flow: wrap column;
	flex: auto;
}

.foto{
	width: 200px;
	height: 200px;
	
}

img{
	border-radius: 50%;
	margin-left: 60px;

}


.principal{
	width: 920px ;
	background-color:#f5f5f5;
}


@media all and (max-width:992px){

	

	.contenedor{
		width: auto;
		display: flex;
		flex-flow: row wrap;
	}

	aside{
		width: 992px;
		flex-flow: column wrap;
		justify-content: center;
		height: 1000px;
	}

	aside .datos-personales{
		border-bottom: 0px;
	}

	.foto{
		align-self: ;
	}


	.principal{
	
		flex-direction: column wrap;
		height: auto;
		width: 992px;
	}

	.formacion{
		display: flex;
		flex: auto;
	}
	
	.experiencia{
		display: flex;
		flex: auto;
	}
	
	.cursos{
		display: flex;
		flex: auto;
	}
	
	.referencias{
		display: flex;
		flex: auto;
		align-items: center; 
	}
	
	
	}

	@media all and (max-width:768px){
		aside{
			flex-flow: column nowrap;
			height: auto;
			align-items: center;
			text-align: center;
		}

		aside .datos-personales{
			border-bottom: solid #ccf;
		}

		img{
			margin-left: 0px;
		
		}
	
	
	}